  <div class="chat">
    <div class="chat-box">
     <%# もしjapaneseがメッセージしたらここを表示 %>
      <td class="chat-box-japanese_name"><%= "hoge" %></td>
      <td class="chat-box-japanese_message"><%= "hoge" %></td>
      <%# それ以外のメッセージならここを表示 %>
      <td class="chat-box-english_name"><%= "hoge" %></td>
      <td class="chat-box-english_message"><%= "hoge" %></td>
    </div>
  </div>