.side {
  height: 85vh;
  width: 15vw;
  background-color: navy;
  &__box {
    height: 10vh;
    margin: 2px;
    background-color: white;
    &__user {
      font-size: 7px;
      color: navy;
    }
    &__message {
      font-size: 4px;
      color: navy;
    }
  }
}