<div class="header">
  <div class="header-people">
    <li><%= link_to "People", "#", method: :get, class:"header-people-btn"%></li>
  </div>
  <div class="header-chat">
    <li><%= link_to "Chat", "#", method: :get, class:"header-chat-btn"%></li>
  </div>
  <div class="header-mypage">
    <li><%= link_to "MyPage", "#", method: :get, class:"header-mypage-btn"%></li>
  </div>
</div>

