<div class="top">
  <div class="top-header">
    <p class="top-header-name">jEng</p>
    <p class="top-header-explain">-For making use of language-</p>
  </div>
  
  <div class="top-language">
    <li><%= link_to "Japanese", user_index_path, method: :get, class:"top-language-j"%></li>
    <li><%= link_to "English", user_index_path, method: :get, class:"top-language-e"%></li>
  </div>

  <div class="top-choice">
    <p class="top-choice-content">Please tap your language<p>
  </div>
</div>